body {
    font-family: Lucica Console, monospace;
    background-color: #fcfcfb;
    }
#wrapper {
    background-color: #fcfcfb;
    }
header {
    color: #9ccb77;
    text-align: center;
    background-color: #c4c7ad;
    }
header a {
    text-decoration: none;
    color: #6b944c;
    }
header a:hover {
    text-decoration: none;
    color: #6b944c;
    }
header a:visited, a:link {
    text-decoration: none;
    color: #6b944c;
    }
.sections {
    display: flex;
    padding: 1px 20px 20px 30px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: #c4c7ad;
    }
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    background-color: #8dad74;
    }
nav a:link, nav a:visited {
    text-decoration: none;
    color: #44392d;
    }
nav a:hover {
    text-decoration: none;
    color: #d67243;
    }
h1 {
    color: #6b944c;
    font-family: Lucica Console, monospace;
    text-align: center;
    font-size: 2.5em;
    padding-top: 2em;
    }
h2 {
    color: #ac9388;
    font-family: Lucica Console, monospace;
    }
h3 {
    text-align: center;
    font-size: 1.3em;
    }
h4 {
    color: #977d71;
    font-size: 1.2em;
    text-align: center;
    }
h5 {
    color: #6b944c;
    font-size: 2em;
    text-align: center;
    }
p {
    padding-left: 1.2em;
    padding-right: 1.2em;
    }
footer {
    text-align: center;
    margin-top: 0.5em;
    }
#logoinsert {
    height: 200px;
    background-image: url(VNlogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    }
.history {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(Desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ebebeb;
    }
main ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style-type: none;
    margin: 0.5em;
    padding: 2em;
    text-indent: 1.5em;
    font-size: 1em;
    padding-bottom: 4em;
    }
.plantmain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(lantana.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    }
.overview {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(cactus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    }
.gallerymain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(Crys.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    }
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em;
    }
.form {
    width: auto;
    background-color: #ac9388;
    padding: 0.2em 1em 1em 1em;
    text-align: center;
    }
a:link, a:visited {
    text-decoration: none;
    color: black;
    }
a:hover {
    text-decoration: none;
    color: #d67243;
    }
table {
    border: 2px solid #6b944c;
    border-collapse: collapse;
    }
td, th {
    padding: 0.5em;
    border: 2px solid #8dad74;
    text-align: center;
    }
th {
    color: #6b944c;
    }
.plantsection {
    background-color: #a3a789;
    padding: 1em;
    text-align: center;
    }
.cactus {
    background-image: url(hedgehog.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    height: 360px;
    width: 360px;
    }
.succulent {
    background-image: url(succulent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    height: 360px;
    width: 360px;
    }
.flower {
    background-image: url(purple_flowers.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    height: 360px;
    width: 360px;
    }
.pottery {
    background-image: url(pottery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    height: 360px;
    width: 360px;
    }
.minerals {
    background-image: url(Crys.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    height: 360px;
    width: 360px;
    }
.decorative {
    background-image: url(ceramics.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebebeb;
    padding: 4em 4em 6em 4em;
    margin-top: 1em;
    height: 360px;
    width: 360px;
    }